# Dependencies
frontend/node_modules
backend/node_modules

# Environment files
frontend/.env
backend/.env

# Build folder
frontend/dist

# Uploaded images
backend/uploads

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/